/* Вторичный фон #2F303A */
/* Третичный фон #f5f4fa */
/* Основной белый, фон шапки #fff */
/* Основной черный */
/* Основной текст #757575 */
/* Текст заголовков #212121 */
/* Текст ссылок футера rgba(255, 255, 255, 0.6) */
/* Акцент #2196F3 */
/* Цвет рамки шапки #ECECEC */

/*!---- Root section----*/

:root {
  --secondary-background-color: #2f303a;
  --tetriary-background-color: #f5f4fa;
  --primary-white-color: #fff;
  --primary-black-color: #000;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-linc-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --header-border-color: #ececec;
  --hero-bacground-color: #c4c4c4;
  --icon-light-color: #afb1b8;
}

body {
  margin: 0;

  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/*!---- Utilit section ----*/

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  color: var(--accent-text-color);

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo .black {
  color: var(--primary-black-color);
}

.logo .white {
  color: var(--primary-white-color);
}

.pic {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

/*!---- Icon social link ----*/

.social-list {
  display: flex;
}

.social-list > .item:not(:last-child) {
  margin-right: 10px;
}

.social-list > .item {
  width: 44px;
  height: 44px;
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.social-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

/*!---- Nav section ---- */

.nav,
.nav-list {
  display: flex;
  align-items: baseline;
}

.header .logo {
  margin-right: 93px;
}

.nav-list > .item + .item {
  margin-left: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list .link.current {
  position: relative;
  color: var(--accent-text-color);
}

.nav-list .link.current::after {
  position: absolute;
  bottom: -1px;

  display: block;
  content: '';
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-text-color);
}

/*!---- Header section ----*/

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.header .container {
  display: flex;
  align-items: center;
}

.cont-list {
  display: flex;
  margin-left: auto;
}

.cont-list > .item:not(:first-child) {
  margin-left: 50px;
}

.cont-list .link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-list .link:hover,
.cont-list .link:focus {
  color: var(--accent-text-color);
}

.cont-link-icon.envelope {
  fill: currentColor;
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.cont-link-icon.phone {
  fill: currentColor;
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

/*!---- Footer section----*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--secondary-background-color);
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

/*!---- Footer contacts section ----*/

.footer .container {
  display: flex;
  align-items: baseline;
}

.address-container {
  width: 231px;
  margin-right: 70px;
}

.adr-list > .item:not(:first-child) {
  margin-top: 9px;
}

.adr-list .link {
  color: var(--footer-linc-color);

  font-style: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adr-list .link-geo {
  color: var(--primary-white-color);

  text-shadow: none;
}

.adr-list .link:hover,
.adr-list .link:focus {
  color: var(--accent-text-color);
}

/*!---- Footer social link -----*/

.footer .title {
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

.footer .social-list .link {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list .link:hover,
.footer-social-list .link:focus {
  background-color: var(--accent-text-color);
}

/*!----- Main section -----*/

/*!---- Hero section -----*/

.hero {
  max-width: 1600px;
  max-height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  background-color: var(--hero-bacground-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero .hero-title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  max-width: 696px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.35;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;

  background-color: var(--accent-text-color);
  color: var(--primary-white-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  background-color: #188ce8;
}

/*!----- Skills section -----*/

.container .feat-list {
  display: flex;
}

.feat-list .item {
  width: 270px;
  margin-right: 30px;
}

.feat-list .item:last-child {
  margin-right: 0;
}

.feat-list .title {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;
}

.feat-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--tetriary-background-color);
  border-radius: 4px;
}

.feat-link-icon {
  width: 70px;
  height: 70px;
}

/*!----- Work section -----*/

.section.activities {
  padding-top: 0;
}

.container .activities {
  display: flex;
}

.activities-list {
  display: flex;
}

.activities-list > .item {
  margin-right: 30px;
}

.activities-list > .item:last-child {
  margin-right: 0;
}

.activities-item-wrapper {
  position: relative;
  width: 370px;
  height: 294px;
}

.activities .title {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/*!----- Team section -----*/

.team {
  background-color: var(--tetriary-background-color);
}

.team-list {
  display: flex;
}

.team-list > .item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .card {
  padding: 30px 32px;

  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
}

.team-list .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  text-transform: none;
}

.team-descr {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;

  text-align: center;
}

.team .social-list .link {
  color: var(--icon-light-color);
  border-radius: 50%;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .social-list .link:hover,
.team .social-list .link:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
}

/*!----- Clients section -----*/

.clients-list {
  display: flex;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;

  color: var(--icon-light-color);
  border: 1px solid var(--icon-light-color);
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus,
.clients-link:hover {
  color: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.clients-link-icon {
  width: 106px;
  height: 60px;

  fill: currentColor;
}

/*!----- Modal window section -----*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  transform: scale(0);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: inline-flex;

  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;
}

.modal-btn::before {
  margin: auto;
  content: '';
  width: 11px;
  height: 11px;

  background-image: url(../images/icons/modal-btn.svg);
  background-size: contain;
}

/*!----- Portfolio page -----*/
/*!----- Portfolio page -----*/
/*!----- Portfolio page -----*/

/*!----- Filter section -----*/

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-list > .item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;

  background-color: var(--tetriary-background-color);
  color: var(--title-text-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*!----- Excemple projects section -----*/

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  margin-left: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translatex(0);
}

.projects-item:nth-child(3n + 1) {
  margin-left: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-item .card {
  padding: 20px 24px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.projects-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: none;
}

.projects-descr {
  font-size: 16px;
  line-height: 1.88;
}

.projects-item .overlay-wrapper {
  position: relative;

  width: 370px;
  height: 294;
  overflow: hidden;
}

.projects-item .overlay {
  position: absolute;
  top: 0;

  padding: 63px 24px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 28px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  opacity: 0.9;
  transform: translateY(100%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
